#Sample UA config file


#Define output folder and the folder of PDB targets
output-directory = uaquickrunresults-graphene
pdb-target = proteins/AF-A0A0N8BEG1-F1-model_v4-P6.pdb

#Specify the NP(s)
nanoparticle-radius = [5.0]
zeta-potential = [0.0]
np-type = 1
pmf-directory = surface/graphene
hamaker-file = hamaker/CNTFilm.dat

#Simulation parameters - these can be usually left alone
enable-surface 
enable-core 
enable-electrostatic 
simulation-steps = 2000 
potential-cutoff=5.0 
potential-size = 1000 
angle-delta = 5.0 
bjerum-length=0.716 
debye-length=0.785 
temperature = 300.0 
pdb-jitter-magnitude = 0

#bead definitions 
amino-acids         = [ ALA, ARG, ASN, ASP, CYS, GLN, GLU, GLY, HIS, ILE, LEU, LYS, MET, PHE, PRO, SER, THR, TRP, TYR, VAL] 
amino-acid-charges  = [ 0.0, 1.0, 0.0, -1.0, 0.0, 0.0, -1.0, 0.0, 0.5, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 
amino-acid-radii    = [ 0.323, 0.429, 0.362, 0.356, 0.352, 0.386, 0.376, 0.285, 0.302, 0.401, 0.401, 0.405, 0.402, 0.421, 0.362, 0.328, 0.357, 0.449, 0.425, 0.377] 
