########################################################
#                                                      #
#   SUPER HAPPY LUCKY UNITED ATOM CONFIGURATION FILE   #
#                                                      #
########################################################

# Directory where to write all the map files to
output-directory    = .

# File or directory
pdb-target          = 1n5u.pdb

# Radii to test. This can be a single number, or a list of comma seperated numbers enclosed by []
nanoparticle-radius = [ 2.5, 5, 10, 20, 40, 50, 80, 100 ]
#nanoparticle-radius = 10000

# Directory where the pfm files are located
pmf-directory       = surface/Au/FCC/100/sca

# Hamaker file containing the hamaker constants. Must be in the format from David's notebook script (ask David)
hamaker-file        = hamaker/Au.dat

# Enable the relevent potential. Comment out a potential to remove it from the simulation
enable-surface
enable-core
enable-electrostatic

# Simulation parameters. 
simulation-steps    = 2000
potential-cutoff    = 10.0
potential-size      = 1000
angle-delta         = 5.0

# Electrostatic potential control parameters. All lenghts are in nm and the zeta potential is in Volts 
bjerum-length       = 1.0
debye-length        = 0.7
#zeta-potential      = [ -0.02, 0.0, 0.02 ]
zeta-potential      = -0.05 

# A list of the molecules involved in the simulation. Even though they are called amino-acids, they can be any biomolecule
amino-acids         = [ ALA, ARG, ASN, ASP, CYS, GLN, GLU, GLY, HIS, ILE, LEU, LYS, MET, PHE, PRO, SER, THR, TRP, TYR, VAL ]

# charge for each biomolecule
amino-acid-charges  = [ 0.0, 1.0, 0.0, -1.0, 0.0, 0.0, -1.0, 0.0, 0.5, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0 ]

########################################################
# Radii of the molecules in the amino-acids list in nm #
########################################################

amino-acid-radii    = [ 0.322715, 0.428767, 0.361551, 0.35600, 0.352205, 0.385727, 0.376055, 0.284623, 0.301896, 0.400987, 0.400987, 0.404922, 0.401799, 0.420854, 0.362305, 0.327697, 0.357403, 0.448826, 0.424851, 0.377343 ]

