########################################################
#                                                      #
#   SUPER HAPPY LUCKY UNITED ATOM CONFIGURATION FILE   #
#                                                      #
########################################################

# Directory where to write all the map files to
output-directory    = unittests/results

# File or directory
pdb-target          = pdbs/crystal/1n5u.pdb

# Radii to test. This can be a single number, or a list of comma seperated numbers enclosed by []
nanoparticle-radius = 50

# Directory where the pfm files are located
pmf-directory       = surface/Au/FCC/100/sca

# Hamaker file containing the hamaker constants. Must be in the format from David's notebook script (ask David)
hamaker-file        = hamaker/Au.dat

# Enable the relevent potential. Comment out a potential to remove it from the simulation
enable-surface
enable-core
enable-electrostatic

# Simulation parameters. 
simulation-steps    = 2000
potential-cutoff    = 5.0
potential-size      = 1000
angle-delta         = 5.0

# Electrostatic potential control parameters. All lenghts are in nm and the zeta potential is in Volts 
bjerum-length       = 1.0
debye-length        = 0.7
zeta-potential      = 0.0

# A list of the molecules involved in the simulation. Even though they are called amino-acids, they can be any biomolecule
amino-acids         = [ ALA, ARG, ASN, ASP, CYS, GLN, GLU, GLY, HIS, ILE, LEU, LYS, MET, PHE, PRO, SER, THR, TRP, TYR, VAL ]

# charge for each biomolecule
amino-acid-charges  = [ 0.0, 1.0, 0.0, -1.0, 0.0, 0.0, -1.0, 0.0, 0.5, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0 ]

########################################################
# Radii of the molecules in the amino-acids list in nm #
########################################################

# vdW radius
#amino-acid-radii    = [ 0.50, 0.66, 0.57, 0.56, 0.55, 0.60, 0.59, 0.45, 0.45, 0.62, 0.62, 0.64, 0.64, 0.64, 0.56, 0.52, 0.56, 0.68, 0.65, 0.59 ]

# spec-volume radius
#amino-acid-radii    = [ 0.267, 0.346, 0.299, 0.294, 0.289, 0.319, 0.318, 0.236, 0.244, 0.334, 0.334, 0.335, 0.334, 0.351, 0.300, 0.271, 0.298, 0.374, 0.353, 0.314 ]

# radius of gyration
#amino-acid-radii    = [ 0.077437, 0.228465, 0.135142, 0.172925, 0.164715, 0.143993, 0.186783, 0.106399, 0.182331, 0.131446, 0.110508, 0.225361, 0.100557, 0.211873, 0.102759, 0.148555, 0.142513, 0.225805, 0.259114, 0.129323 ]

# Average of vdW and spec-volume
amino-acid-radii    = [ 0.320875, 0.416806, 0.360160, 0.354100, 0.348040, 0.383588, 0.381691, 0.284281, 0.292630, 0.400923, 0.400923, 0.403633, 0.402578, 0.420287, 0.360380, 0.326699, 0.358294, 0.44764, 0.42326, 0.377526 ]

